*{
    font-family: 'Jost', sans-serif;
}

.Loginboxframe {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;


}

.Loginframe {
    display: flex;
    justify-content: center;
    min-width: 600px;
    width: 40%;
    margin: 50px;
    max-width: 600px;
}

.Emailframe {
    margin-top: 35px;
    margin-bottom: 5px;
    display: flex;
    width: 90%;
    justify-content: center;
}

.Passwordframe{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-bottom: 5px;
}


.Frame3 {
    background: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjusted for responsiveness */
    margin: 15px;
}


input {
    height: 50px;
    text-align: center;
    width: 80%;
    margin: 10px;
    font-size: 16px; /* Readable font size */
    border-radius: 30px; /* Aesthetic border-radius */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset; /* Stylish inner shadow */
    border: none; /* Cleaner look by removing border */
    outline: none; /* Remove outline to control focus styles separately */
}

input:focus {
    box-shadow: 0 4px 6px rgba(0, 100, 0, 0.25) inset; /* Change shadow on focus for visibility */
}

button{
    width: 40%;
    background: #83BA36;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    border: 0px;
    font-size: 22px;
}

.PokemonLogoBox{
    width: 100%; /* Take the full width of its parent */
    max-width: 782px; /* Maximum width of the logo to maintain aspect ratio */
    margin: auto; /* Centers the container if it's smaller than its parent */
    position: relative; /* Establishes a positioning context for the image */
}

.PokemonLogo {
    width: 100%; /* Makes the image responsive by allowing it to grow and shrink */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
}

.LoginButton{
    justify-content: center;
    display: flex;
    width: 90%;
    margin-bottom: 15px;
}

