.Navbar {
    width: 100%;
    height: 96px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navigation {
    width: 100%;
    height: 96px;
    background: #0075BE;
    display: flex;  /* Using flexbox for navigation */
    justify-content: flex-end;  /* Aligns children (Frame2) to the right */
    position: absolute;
}

.Frame2 {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Removing absolute positioning and using flexbox alignment */
    padding-right: 20px; /* Padding to ensure it does not touch the very edge */
}

.NavLink {
    display: block;
    height: 43px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.Line1, .Line2, .Line3 {
    height: 40px; /* Adjusted height to fit within 96px nav height */
    width: 1px; /* Using a more standard line width */
    background-color: white; /* Using background color instead of border for visibility */
    align-self: center; /* This will center the line within the flex container */
}

/* Additional hover effects for links */
.NavLink:hover {
    opacity: 1;  /* Full opacity on hover */
    color: grey; /* Change text color on hover */
}
