.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-card img {
    width: 175px; /* Fixed width */
    height: 202px; /* Fixed height */
    object-fit: contain; /* Ensures the entire image is visible */
    display: block; /* Ensure image is a block element to center properly */
    margin: auto; /* Center the image horizontally and vertically */
}

.search-container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically, if needed */
    padding: 20px; /* Adds some padding around the search container */
}