/* Styles for the Navbar using Flexbox */
nav {
  background-color: #f8f8f8; /* Light grey background */
  padding: 10px 20px; /* Padding around the navigation */
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Align items vertically in the center */
}

nav ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  display: flex; /* Enable Flexbox for the list */
  margin: 0; /* Remove default margin */
}

nav ul li {
  margin-right: 20px; /* Spacing between menu items */
}

nav ul li a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Dark grey text color */
  font-weight: bold; /* Make the font bold */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}


/* Styles for the 151 Pokemons/pictures*/
.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pokemon-card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-card img {
  width: 175px; /* Fixed width */
  height: 202px; /* Fixed height */
  object-fit: contain; /* Ensures the entire image is visible */
  background-color: #f0f0f0; /* Optional: background color for empty space around the image */
  display: block; /* Ensure image is a block element to center properly */
  margin: auto; /* Center the image horizontally and vertically */
}

.search-container {
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically, if needed */
  padding: 20px; /* Adds some padding around the search container */
}







/*Media queries*/
@media (max-width: 480px) {
  .pokemon-card img {
    max-width: 100px; /* Smaller max width on small screens */
    max-height: 115px; /* Smaller max height corresponding to the width */
  }
}

